html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.login-body {
    background-color: #003399 !important;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif !important;
    box-sizing: border-box;
    width: 100%;
    height: 100vh; /* Define a altura para ocupar toda a viewport */
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.login-logo {
    width: 25%;
    /* max-width: 100px; */
    height: auto;
    border-radius: 50%;
    margin-bottom: 5%;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 5%;
    border-radius: 8px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    width: 90%;
    max-width: 500px;
    height: auto;
    margin-bottom: 40%;
}

.login-title {
    font-weight: 800 !important;
    color: black;
    margin-bottom: 5%;
    text-align: center;
    font-size: 2rem;
}

.input-field {
    font-size: 1rem !important;
    width: 80%;
    color: black !important;
    box-sizing: border-box;
}

.input-label {
    font-size: 1rem !important;
    font-weight: bold !important;
    margin-bottom: 0.5rem;
    display: block;
}

.remember-me {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.checkbox {
    margin-right: 0.5rem;
}

.checkbox-label {
    font-size: 0.9rem;
    color: black;
}

.login-button-container {
    width: 50%;
    text-align: center;
}

.login-button {
    background-color: #FFD700 !important;
    color: black !important;
    font-weight: bold !important;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #FFC107 !important;
}

/* Responsividade */
@media (max-width: 768px) {
    .login-container {
        height: 60vh;
        margin-top: 10%;
        padding: 5%;
    }

    .login-logo {
        width: 20%;
    }

    .login-box {
        padding: 7%;
    }

    .login-title {
        font-size: 1.5rem;
    }

    .input-field {
        font-size: 0.9rem;
        width: 80%;
    }

    .input-label {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .login-container {
        height: 70vh;
        margin-top: 5%;
        padding: 10%;
    }

    .login-logo {
        width: 25%;
    }

    .login-box {
        padding: 10%;
    }

    .login-title {
        font-size: 1.2rem;
    }

    .input-field {
        font-size: 0.8rem;
        width: 80%;
    }

    .input-label {
        font-size: 0.8rem;
    }

    .checkbox-label {
        font-size: 0.8rem;
    }

    .login-button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}