.headerMain {
	width: 100%;
}

.headerMain h1 {
	color: black;
	display: flex;
	margin-left: 5.2%;
	margin-top: 0;
	margin-bottom: 0;
}

.sectionFields {
	display: flex;
	flex-wrap: wrap;
	 width: 85%;
	 margin-left: 7.5rem;
}

.mainContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 0.5rem 20px 20px 20px;
}

.headerContainer {
  position: sticky;
  top: 0;
  z-index: 1000; /* garante que o header fica acima do conteúdo */
  background-color: white; /* evita que fique transparente sobre o conteúdo */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* opcional: um sombreamento bonito */
}